*{
    margin: 0;
    padding: 0;
}
html{
    scrollbar-width: small;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
     box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

:root{
    --anchor-bg : #dfe6e9;
}
/* styling */
nav{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
    background-color: lightcoral;
    box-shadow: rgba(60, 52, 59, 0.7) 0px 0px 2px 1px;
    border: none;
    width: 100%;
}
nav h1{
    font-size: 30px;
    color: #81ecec;
}
nav ul{
    padding: 0 0.5rem;
    display: flex;

}
nav li {
    height: 100%;
    display: inline;
    padding: 0.5rem;
    list-style: none;
}
nav li a{   
    padding: 8px 15px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
nav li a:hover{
    background-color: var(--anchor-bg);
    border-radius: 5px ;
}
 
nav .input-box input{
    padding: 10px;
    border: 1px solid gray;
    outline: none;
    transition: 0.5s;
    width: 97.5%;
    border-radius: 5px;
    text-align: left;
}
nav input:focus{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
nav input::placeholder{
    text-align: start;
    padding-right: 10px;
}
nav .input-box {
    width: 60%;
    position: relative;
}
nav menu a{
    text-wrap: nowrap;
}

/* copied from imgslider.html  */
.nav-content {
            position: absolute;
            top: 100%;
            left: 0;
            overflow-y: scroll;
            background-color: white;
            width: 100%;
            max-height: 300px;
            transition: all  0.5s;
        }

        .drop {
            display: flex;
            flex-direction: column;
        }
        .drop li{
            margin: 0;
            padding: 0;
        }
        .drop  li a {
            margin: 0;
            text-decoration: none;
            width: 100%;
            display: block;
            transition: 0.5s;
            border-radius: 0;
        }

        .drop  li:hover {
            background-color: rgb(204, 203, 202);
            color: black;
        }
        .input-box input:focus{
            border-bottom: none;
        }
        .input-box input:focus ~ .nav-content {
            max-height: 300px;
        }
        /* from javascript */
        .drop-li{
            display: flex;
            justify-content: space-between;
            transition: all 1s;
          
        }
        .drop-li button{
            background-color: lightgray;
            border: none;
            width: 20px;
            height: 30px;
            cursor: pointer;
        }

 /* end  */

/* .search-dropdown{
    background-color: white;
    width: 100%; 
    max-height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: max-height 0.3s ease-in-out;
    padding: 0;
}
.search-dropdown ul {
     max-height: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    overflow-y: scroll;
}
.search-dropdown ul li{
    margin-bottom: 1px;
    text-align: left;
    list-style: none;
    width: 100%;
    display: block;
}
.search-dropdown li:hover{
    background-color: gray;
}
.search-dropdown a{
    font-size: 16px;
     margin: 0;
     padding: 0;
     width: 100%;
}

.search-dropdown ul, li,a{
    display: none;
} 
.input-box input:focus + .search-dropdown {
    max-height: 265px;
}
.input-box input:focus + .search-dropdown ul,li,a{
     max-height: 265px;
     display: block;
} */
header{
    height: 35rem;
    background-image: url(https://plus.unsplash.com/premium_photo-1682095915158-64cdf843f58f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D/1280px-Wide-Backgrounds-HD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    /* background-blend-mode: lighten; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

header button{
    padding: 8px 15px;
    margin-right: 5rem;
    border-radius: 50px;
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s; 
}
header button:hover{
    text-transform: uppercase;
    color: black;
    background-color :white;
    outline: 2px solid rgb(50, 98, 235);
}

/* collections styling */
.title{
    max-height: 4rem;
    padding: 1rem;
    display: flex;
    gap: 10px;
    background-color: lightcoral;
}
.title a:nth-child(1){
   pointer-events: none;
}
.title a{   
    padding: 8px 15px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.title  a:hover{
    background-color: var(--anchor-bg);
    border-radius: 5px ;
}
/* img container */
.collections{
    padding: 2rem ;
    display: flex;
    column-gap: 3rem;
    row-gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color: rgb(245, 191, 191);
}
.img-box img{
    width: 100%;
    cursor: pointer;
    aspect-ratio: 1/1;
}
.img-box{
    width: 220px;
    height: 320px;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: rgba(60, 52, 59, 0.7) 0px 2px 5px -5px ,rgba(60, 52, 59, 0.7) 0px 2px 3px 0.5px;
    background-color: white;
}
.img-box:hover{
    transform: scale(1.03);
}
.order{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    outline: none;
}
.order button{
    background-color: black;
    color: white;
    max-width: fit-content;
    position: absolute;
    right: 8%;
    top: 50%;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    background-color: black;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
footer h1{
    color: aqua;
}
.social-links img{
    width: 2rem;
    height: 2rem;
}
.social-links a:hover{
    opacity: 0.8;
}

/* responsive for mobiles*/
@media (min-width:320px) and (max-width:480px){

 ::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
}
body{
    overflow-x: hidden;
    width: 100%;
    background-color: red;
}
nav{
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: baseline;
    gap: 1rem 0;
    position: relative;
}
nav .bar{
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 20px;
    top: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.bar span{
    display: block;
    height: 7px;
    background-color: black;
    border-bottom: 1px solid white;
    transition: all 0.5s;
}

.bar span:nth-child(1){
    transform-origin: left top;
}

.bar span:nth-child(3){
    transform-origin: left bottom;
}

nav .bar:hover {
     background-color: #81ecec;
     border: 1px solid white;
}

nav input{
    padding:10px 0;
    border: 1px solid gray;
    outline: none;
    width: 100%;
    border-radius: 5px;
    text-align: end;
}
 /* .sidebar{
    width: 100%;
    max-height: 0;
    position: absolute;
    left: 0;
    top: 8%;
    background-color: lightcoral;
    transition: all 0.5 ;
    z-index: 1;
}
.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar li{
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
}
.sidebar a{
    display: none;
    margin: 0;
}
nav .bar:hover + .sidebar{
    max-height: 20%;
}
nav .bar:hover + .sidebar a{
    display: block;
} */
.sidebar {
            position: absolute;
            top: 50%;
            left: 0;
            overflow: hidden;
            background-color: lightcoral;
            min-width: 100%;
            max-height: 0;
            transition: all 0.5s;
            z-index: 1;
        }

        .menu ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
        .menu li{
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: center;
        }
        .menu ul li a {
            margin: 0;
            text-decoration: none;
            width: 100%;
            display: block;
            transition: 0.5s;
            border-radius: 0;
        }

        .menu ul li a:hover {
            background-color: rgb(204, 203, 202);
            color: black;
        }
    /* .bar:focus + .sidebar-drop{
            max-height: 300px;
    } */
     .sidebar.sidebar-drop{
            max-height: 300px;
    }
    .bar1.topbar{
        transform: rotate(40deg);
        width: 130%;
    }
    .bar2.hide{opacity: 0;}
    .bar3.bottombar{
        transform: rotate(-45deg);
        width: 130%;
    }
       
header{
    height: 10rem;
    background-size: contain;
    background-position: left ;
    background-color: lightblue;
    padding: 20px;
    justify-content: flex-end;
}
header button{
    margin-right: 0;
}
header button:hover{
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
    background-color :white;
    outline: 2px solid grey;
}

.title{
    padding-bottom: 10px;
    gap: 1rem;
    width: 100%;
    height: max-content;
    overflow-x: scroll;
    scroll-behavior: smooth;
    border-bottom: 0.5px solid grey;
}
.title a{
    padding: 5px 0;
    transition: 0.3s;
    cursor: pointer;
    text-wrap: nowrap;
}
.collections{
    padding: 1rem;
    box-sizing: border-box;
    
}

.img-box{
    height: auto;
    width: 100%;
    position: relative;
}
.img-box img{
    width: auto;
    height: 13.75rem;
}
.order{
    background-color: white;
    height: 100%;
    width: 36.5%;
    position: absolute;
    right: 0;
    top: 0;
    gap: 8px 0;
    padding: 0 7px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: end;
}
.order button{
   position: static;
}
}

/* media query for tablets */

@media (min-width:480px) and (max-width:800px){

body{
    overflow-x: hidden;
}
header{
    background-size: contain;
    width: 100%;
    height: 10rem;
    background-color: rgb(173, 224, 233);
    background-position: left;
}
nav{
    padding: 0.2rem 0;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    text-align: center;
    height: auto;
}
nav .input-box input{
    outline: none;
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    margin: 0;
    height: 2rem;
    position: relative;
}

nav .input-box{
     width: 100%;
     position: relative;
}
nav .input-box input::placeholder{
    text-align: start;
}
.nav-content {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            max-height: 0px;
            transition: all 0.5s;
            overflow-y: scroll;
        }

        .drop ul {
            display: flex;
            flex-direction: column;
            
        }
        .drop li{
            display: flex;
            margin: 0;
            padding: 0;
            text-align: left;
        }
        .drop ul li a {
            margin: 0;
            text-decoration: none;
            width: 100%;
            display: block;
            transition: 0.5s;
            border-radius: 0;
        }

        .drop ul li a:hover {
            background-color: rgb(204, 203, 202);
            color: black;
        }
        .input-box input:hover{
            border-bottom: none;
        }
        .input-box input:focus ~ .nav-content {
            max-height: 250px;
        }
nav ul{
    display: flex;
    justify-content: center;
    width: 100%;
}
nav li {
    padding: 0.5rem;
    list-style: none;

}
nav li a{   
    padding: 8px 15px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

/* .search-dropdown{
    background-color: white;
    width: 90%; 
    max-height: 0;
    position: absolute;
    top: 100%;
    left: 5%;
    transition: max-height 0.3s ease-in-out;
    padding: 0;
}
.search-dropdown ul {
     max-height: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    overflow-y: scroll;
}
.search-dropdown ul li{
    margin-bottom: 1px;
    text-align: left;
    list-style: none;
     width: 100%;
}
.search-dropdown a{
    padding:7px  10px;
    font-size: 16px;
     margin: 0;
     width: 100%;
}

.search-dropdown ul, li,a{
    display: none;
} 
.input-box input:focus + .search-dropdown {
    max-height: 265px;
}
.input-box input:focus + .search-dropdown ul,li,a{
     max-height: 265px;
     display: block;
} */
.title{
    max-height: 100%;
}
.title a{
    text-wrap: nowrap;
}
.collections{
    padding:  1rem ;
    display: flex;
    row-gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color: rgb(245, 191, 191);
    overflow: scroll;
}
.img-box{
    height: max-content;
    flex-basis: 40%;
    width: 40%;
    position: relative;
}
.img-box img{
    height: auto;
    aspect-ratio: 1/1;
}

}

/* landscape orientation for tablets */
@media (orientation: landscape) {
nav h1{
    text-wrap: nowrap;
}
    nav li a{
        text-wrap: nowrap;
    }
}