html{
    background: linear-gradient(to right,red,green,yellow, orange, purple);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.textbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
@media screen and (max-width:600px) {
    .textbox{
        width: 500px;
    }
    
}
#input-text{
   background-color: rgb(228, 227, 227);
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 20px;
   padding: 10px;
   width: 30%;
   height: 100px;
   border-radius: 5px;
   border: solid gray ;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: solid rgb(85, 80, 80) 2px;
   resize: none;
}
#input-text:focus {
    outline: none;
    border-bottom-color: aqua ;
    animation-name: example;
    border-bottom-width: 10px;
    transition-timing-function: ease-in-out;
    animation-duration: 5s;
}
@keyframes example {
    0%{
        background-color: red;
        left: 0px;
    }
    25%{
        background-color: black;
        left: 10%;
    }
    50%{
        background-color: yellow;
       left: 20%;
    }
    100%{
        background-color: blue;
        left: 30%;
    }
}
#input-text:hover{
    border-bottom-color: red;
    transition: bottom 3s;
}
    

.btn{
    width: 100px;
    height: 50px;
    background-color: rgb(42, 72, 238);
    color: white;
    border-radius: 20px;
    border-color: aqua;
    font-weight: bolder;
    cursor: pointer;
}
.list-container{
    margin-left: 50px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.btn-delete{
    background-color: black;
    color: white;
    margin-left: 30px;
    border-radius: 2px;
    outline: none;
    padding: 5px;
    margin-top: 10px;
}